@font-face {
    font-family: 'rich';
    src: url(./fonts/TheiPersonalUse-2O2BK.otf);
}
:root{
    --primary-color: #1c1917; /*stone like color */
    --secondary-color: #f59e0b;
    --fourth-color: #fef08a;
    --third-color: #d4d4d4;
}
body{
    background-color: var(--primary-color);
    background-image: url(./pics/cover.png);
    background-size: 20rem;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#content{
    flex: 6;
    background-color: var(--primary-color);
    align-self: center;
    min-width: 80rem;
    min-height: 70rem;
    display: flex;
    flex-direction: column;
    border: solid 4px var(--fourth-color);
    border-radius: 2rem;
}
.h-1{
    flex: 1;
    display: flex;
    justify-content: center;
}
.h-1 div{
    font-family: 'rich';
    color: var(--fourth-color);
    font-size: 4rem;
}
.h-2{
    flex: 4;
    display: flex;
    justify-content: center;
}
.main-c{
    flex: 1;
    max-width: 35rem;
    background-color: var(--third-color);
    border: solid var(--fourth-color) 6px;
    border-radius: 2rem;
}
.c-1{
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 22rem;
    font-size: 1.8rem;
    color: black;
    font-family: 'monospaced';
}
.auth{
    font-weight: bold;
    font-size: 2rem;
    color: black;
}
.h-3{
    flex: 2;
    display: flex;
    justify-content: center;
}
.g-c{
    min-width: 50rem;
    max-height: 8rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 8px;
    grid-template-rows: 1fr 1fr;
}
.g-c div{
    border: solid 2px var(--fourth-color);
    background-color: black;
    color: wheat;
    display: flex;
    flex-direction: column;
}
.g-c p{
    padding: 0;
    margin: 0;
    flex: 1;
    text-align: center;
}
.day{
    padding-top: 10px;
    font-family: 'rich';
    font-weight: bold;
    font-size: 40px;
    color: var(--fourth-color);
}
.sunday{
    grid-column: 1/4;
}
.h-4{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address{
    flex: 1;
    max-height: 8rem;
    height: 100%;
    max-width: 40rem;
    border: solid 4px var(--fourth-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.address div{
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.address div p{
    margin: 0;
}
.footer{
    flex: 1;
}
header{
    flex: 1;
    height: 5rem;
}
nav{
    display: flex;
    height: 3rem;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}
nav button{
    flex: auto;
    max-width: 5rem;
    max-height: 2rem;
    border-radius: 14px;
    color: var(--third-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    font-family: 'Courier New', Courier, monospace;
}
nav button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: solid var(--third-color) 4px;
}